// Colors
$color-white: #ffffff;
$color-main: #69f0ae;
$color-sub: #80d8ff;
$color-danger: #F44336;

// Breakpoints
$bp-sm: 576px; // Small devices (landscape phones, 576px and up)
$bp-md: 768px; // Medium devices (tablets, 768px and up)
$bp-lg: 992px; // Large devices (desktops, 992px and up)
$bp-xl: 992px; // Extra large devices (large desktops, 1200px and up)

$drawer-width: 240px;
