.maps {
  margin: -24px;
  .leaflet-container {
    height: calc(100vh - 65px);
    width: 100%;
  }
  &__button {
    &--recenter {
      position: fixed;
      top: 0;
    }
  }
  .leaflet-control-attribution.leaflet-control {
    display: none;
  }
}
