.login {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 550px;
  padding: 20px;

  &__footer {
    padding: 20px 0;
  }
  &__error {
    background-color: $color-danger;
    padding: 10px 15px;
  }
}
